
@{
    ViewBag.Title = "About";
}

<div class="table-responsive w-100">
    <table class="table table-success table-striped min-width-400px">
        <thead class="table-dark">
            <tr>
                <th>Name (AIUB style)</th>
                <th>ID (AIUB)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nobir Hossain Samuel</td>
                <td>19-41135-2</td>
            </tr>
            <tr>
                <td>Md. Mohibor Rahman Rahat</td>
                <td>19-39517-1</td>
            </tr>
            <tr>
                <td>Fariya Sultana Prit</td>
                <td>20-42889-1</td>
            </tr>
            <tr>
                <td>Khuko Moni</td>
                <td>19-39501-1</td>
            </tr>
        </tbody>
    </table>
</div>